.SearchPage {
  --button-width: 80px;
}

.SearchPage input[type='text']{
  padding: 1rem;
  width: calc(100% - var(--button-width));
  margin-bottom: 2rem;
}

.SearchPage button{
  padding: 1rem;
  width: var(--button-width);
  color: #fff;
  background: #1041fb;
}
